:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

mat-spinner {
    margin: 4rem;
}

.slot-session-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.break {
    background-color: lightgrey;
}